<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
    <ion-button #createButton id="openButton" expand="block" tappable id="btnGo" tabindex="2"
    (click)="open()">
    OPEN SESAME
    </ion-button>
  </ion-toolbar>
</ion-header>
<a></a>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
